kind: Secret
apiVersion: v1
metadata:
  name: bugzilla-credentials
stringData:
  BUGZILLA_URL: https://bugzilla.redhat.com
  BUGZILLA_LOGIN: sttts@redhat.com
  BUGZILLA_PASSWORD: abce
  BUGZILLA_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
